.tag-select-input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.tag-select-input {
  width: 100%;
  margin: 10px 0;
  cursor: pointer;
}

.tag-select-add-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.tag-select-add-input {
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
}

.tag-select-add-button {
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.selected-tags-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.selected-tag {
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
