.rating {
  margin: 10px;
}

.rating i {
  margin: 0 5px;
}

.add-rating-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add-rating-component-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-bottom: 5px;
}

.add-rating-text {
  padding: 15px 10px;
  width: 100%;
  border: 1px solid var(--primary-color);
  font-size: 20px;
}

.add-rating-btn {
  padding: 3px 20px;
  color: var(--white-color);
  background-color: var(--primary-color);
  margin: 10px 0;
  font-size: 18px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
}

.rating-item {
  padding: 15px;
  background-color: var(--white-color);
  border-radius: 10px;
}

.rating-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.rating-item-info-name-wrapper {
  display: flex;
  align-items: center;
}

.rating-item-text {
  color: var(--secondry-color);
}

.rating-item-date-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.rating-item-date {
  font-size: 13px;
  color: var(--gray-color);
}

.delete-rating-btn {
  padding: 2px 10px 2px 5px;
  color: var(--red-color);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-family: var(--font-family);
  display: flex;
  background-color: antiquewhite;
  align-items: center;
  justify-content: space-between;
}

.workshop-name-rating-wrapper {
  display: flex;
  gap: 5px;
  font-size: 16px;
  flex-wrap: wrap;
  align-items: center;
}
