.contact-us {
  min-height: calc(100vh - var(--difference-value));
  direction: rtl;
}

.contact-us-item {
  padding: 20px;
  border-bottom: 0.5px solid #ddd;
}
.contact-us-item-desc {
  width: 60%;
}
.founders-wrapper {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.founder-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.founder-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid wheat;
}

.founder-name {
  font-weight: bold;
}

.founder-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.founder-link {
  text-decoration: none;
  display: flex;
}

.founder-linkedin {
  color: #0d6efd;
}

.founder-github {
  color: #1f2328;
}
/* Media Query */
@media (max-width: 720px) {
  .founders-wrapper {
    flex-direction: column;
  }
  .founder-item {
    margin: 10px 0px;
  }
  .contact-us-item-desc {
    width: unset;
  }
}
