.post {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  padding: 10px;
}
.posts-container {
  width: 100%;
  max-width: 700px;
  padding: 20px;
}
.post-owner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-owner-photo-wrapper {
  width: 50px;
  height: 50px;
}
.post-owner-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.post-owner-info {
  line-height: 1.5;
}

.post-metadata {
  font-size: 12px;
}

.post-options {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.post-options-icon {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
}
.post-options-list {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  top: 33px;
}

.post-options-list-item {
  padding: 5px 20px;
  background-color: var(--white-color);
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.post-text {
  padding: 10px;
  font-size: 22px;
}

.edit-post-form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.edit-post-input {
  flex-grow: 1;
  padding: 10px;
}

.edit-post-controllers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-post-btns-wrapper {
  display: flex;
  gap: 10px;
}

.edit-post-btn,
.edit-post-cancel-btn {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: orange;
  color: white;
  cursor: pointer;
}

.edit-post-cancel-btn {
  background-color: rgb(238, 56, 56);
}

.post-controls {
  display: flex;
}

.post-like,
.post-comment {
  padding: 5px 0px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

/* Create Post */
.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.post-input-text {
  padding: 10px;
  width: 855px;
  height: 60px;
  max-width: 855px;
  max-height: 230px;
}

.create-post-controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-post-privacy {
  padding: 0px 10px;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.create-post-btn {
  padding: 5px 20px;
  color: var(--white-color);
  cursor: pointer;
  border: none;
  background-color: rgb(54, 170, 54);
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 16px;
}
.create-post-btn:disabled {
  cursor: not-allowed;
}

/* Comments */
.post-comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-comments-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
