.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - var(--difference-value));
  text-align: center;
  padding: 10px;
}

.not-found .not-found-text {
  font-size: 45px;
  font-weight: bold;
}
