.pagination {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.pagination-item {
  padding: 2px;
  width: 30px;
  height: 30px;
  background-color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  color: var(--white-color);
  font-weight: bold;
  font-size: 18px;
}

.pagination-right,
.pagination-left {
  background-color: #cfcfcf;
}
