.fixed-header,
.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.fixed-header {
  background-color: #fafafa80;
  backdrop-filter: blur(80px);
  -webkit-background-color: #fafafa80;
  -webkit-backdrop-filter: blur(80px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0px;
  z-index: 10;
}

.header {
  background-color: #fafafa;
  backdrop-filter: blur(6px);
}

.header-left {
  font-size: 30px;
  font-weight: bold;
}

.header-left a {
  text-decoration: none;
  color: var(--dark-color);
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 20px;
}
.navbar ul a {
  cursor: pointer;
  color: var(--dark-color);
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul a:hover {
  color: var(--lighted-primary-color);
}

.nav-auth-links {
  display: none;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.header-auth-links {
  display: flex;
  gap: 20px;
}

.header-right .auth-link {
  background-color: var(--dark-color);
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: var(--dark-color);
  text-align: center;
}

.header-right a:hover {
  color: var(--dark-color);
}

.user-settings {
  color: var(--dark-color);
  font-size: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}
.user-menu {
  position: absolute;
  display: none;
  padding: 5px;
  background-color: var(--white-color);
  border-radius: 5px;
  top: 50px;
  right: 80px;
  width: 140px;
  z-index: 10;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.user-menu .user-menu-item {
  color: var(--dark-color);
  padding: 5px;
  text-align: center;
  display: block;
  border-bottom: 1px solid var(--dark-color);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
}

.user-menu .user-menu-item:hover {
  background-color: #666;
  color: var(--white-color);
}

.header-menu {
  display: none;
}

.header-menu i {
  font-size: 30px;
  color: var(--dark-color);
  cursor: pointer;
}

/* Media Query */
@media (max-width: 720px) {
  .header-menu {
    display: block;
  }
  .navbar {
    position: absolute;
    background-color: rgb(250, 250, 250);
    left: 0;
    top: 100%;
    width: 100%;
    height: unset;
    transition: all 0.3s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: 10;
    display: block;
  }
  .navbar ul {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
  }
  .navbar ul a {
    width: 100%;
    text-align: start;
    justify-content: flex-end;
  }
  .header-right .auth-link {
    font-size: 16px;
  }
  .nav-auth-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .header-auth-links {
    display: none;
  }
}

@media (max-width: 410px) {
  .header-menu {
    padding: 0;
  }
  .user-settings {
    font-size: 12px;
  }
  .header-right {
    gap: 10px;
  }
}

@supports (-webkit-backdrop-filter: blur(80px)) or (backdrop-filter: blur(80px)) {
  .fixed-header {
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
  }
}
