.header {
  /* background-color: var(--primary-color); */
  background-color: #fafafa;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-left {
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
}

.header-left a {
  text-decoration: none;
  color: var(--dark-color);
}

.navbar {
  height: 100%;
  display: flex;
  justify-content: center;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.navbar ul a {
  padding: 0px 10px;
  cursor: pointer;
  color: var(--dark-color);
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul a:hover {
  color: var(--main-color);
  background-color: var(--dark-color);
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.header-right .auth-link {
  padding: 0px 8px;
  background-color: var(--dark-color);
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  border: none;
  background-color: transparent;
  color: var(--dark-color);
  text-align: center;
}

.header-right a:hover {
  color: var(--dark-color);
}

.user-settings {
  color: var(--dark-color);
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
}
.user-menu {
  position: absolute;
  padding: 5px;
  background-color: var(--white-color);
  border-radius: 5px;
  top: 30px;
  right: 85px;
  display: none;
  width: 140px;
  z-index: 10;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.user-menu .user-menu-item {
  color: var(--dark-color);
  padding: 5px;
  text-align: center;
  display: block;
  border-bottom: 1px solid var(--dark-color);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
}

.user-menu .user-menu-item:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.header-menu {
  display: none;
}

.header-menu i {
  font-size: 30px;
  color: var(--dark-color);
  cursor: pointer;
}

/* Media Query */
@media (max-width: 720px) {
  .navbar {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: unset;
    background-color: #fafafa;
    transition: all 0.7s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: 10;
    display: block;
  }
  .navbar ul {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .navbar ul a {
    padding: 10px;
    width: 100%;
    text-align: start;
    justify-content: flex-end;
  }
  .header-right .auth-link {
    font-size: 16px;
  }
  .header-menu {
    display: block;
    padding: 0 10px;
  }
}
