.message-box {
  color: var(--white-color);
  padding: 20px;
  width: fit-content;
  margin: 10px;
  width: 70%;
  font-family: "Cairo", "Helvetica Neue", Helvetica, Arial,
    sans-serif for Latin text and "Helvetica Neue", Helvetica, Arial, sans-serif,
    "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sent-by-me {
  background-color: cornflowerblue;
  align-self: flex-end;
  direction: rtl;
}

.sent-by-others {
  background-color: var(--gray-color);
  align-self: flex-start;
}

.message-text {
  font-size: 18px;
}
.message-time {
  font-size: 13px;
  color: #ddd;
  font-family: "Cairo", "Helvetica Neue", Helvetica, Arial,
    sans-serif for Latin text and "Helvetica Neue", Helvetica, Arial, sans-serif,
    "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
