.message-box {
  color: var(--white-color);
  padding: 5px 10px;
  width: fit-content;
  margin: 5px 10px;
  width: 200px;
  font-family: var(--font-family);
  border-radius: 20px;
}

.sent-by-me {
  background-color: cornflowerblue;
  align-self: flex-end;
  direction: rtl;
}

.sent-by-others {
  background-color: var(--gray-color);
  align-self: flex-start;
}

.message-text {
  font-size: 18px;
}
.message-time {
  font-size: 10px;
  color: #ddd;
  font-family: var(--font-family);
}
