.posts {
  min-height: calc(100vh - var(--difference-value));
  direction: rtl;
  display: flex;
  justify-content: center;
}
.create-public-post {
  margin-bottom: 20px;
}
.posts-title {
  font-size: 18px;
  margin-bottom: 10px;
}
