.message {
  min-height: calc(100vh - var(--difference-value));
  display: flex;
  justify-content: center;
}

.message-container {
  height: 100%;
  width: 70%;
}

.messages-container-body {
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--difference-value));
}
.message-bar-info {
  padding: 10px;
  width: 100%;
  background-color: #333;
  color: var(--white-color);
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sent-messages {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.send-message-wrapper {
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
  border-top: 1px solid #ccc;
}

.text-input-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}

.emoji-select-icon {
  display: flex;
  align-items: center;
  color: #333;
  cursor: pointer;
}

.emoji-picker-wrapper {
  position: absolute;
  bottom: 53px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.message-text-input {
  padding: 10px;
  align-content: flex-start;
  font-size: 20px;
  width: 100%;
}

.message-send-btn {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-family: var(--font-family);
}

/* Media Query */

@media (max-width: 890px) {
  .message-container {
    width: 90%;
  }
}

@media (max-width: 570px) {
  .message-container {
    width: 100%;
  }
}
